.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #666699;
  border-radius: 5px;
  color: white;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.bio {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timestamp {
  font-style: italic;
}
