.good {
  background: linear-gradient(#238b8b 49%, #1d7373 51%);
}
.neutral {
  background: linear-gradient(#d55757 49%, #bf3030 51%);
}
.skill {
  border: 2px solid #660066;
  border-radius: 7px;
  display: inline-block;
  font-size: 1.5rem;
}

.skill .skillName {
  font-weight: bold;
}
.bars * {
  border-radius: 4px;
  display: inline-block;
  width: 12px;
  height: 24px;
  margin: 0 2px 0 0;
  margin-top: 2px;
}
